acme==2.11.0
pyaml==24.4.0
josepy==1.14.0
pyOpenSSL==24.1.0

requests==2.32.3
dnspython==2.6.1
asn1crypto==1.5.1
cryptography==42.0.8
## The following requirements were added by pip freeze:
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
idna==3.3
pycparser==2.21
pyRFC3339==1.1
pytz==2022.2.1
PyYAML==6.0
requests-toolbelt==0.9.1
urllib3==1.26.12
